* {
  position: relative;
}
.footer {
  background-color: #333;
  color: whitesmoke;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
