* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header {
  padding: 0px 8px;
  background-color: rgb(44, 43, 43);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  height: 100px;
}
.header h1 {
  font-size: 3rem;
  margin-bottom: 10px;
  color: rgba(240, 240, 240, 2);
  text-shadow: 2px 2px rgba(192, 33, 33, 0.212);
}

.header h1 > p {
  text-align: center;
  font-size: 1.3rem;
  color: rgb(51, 243, 51);
  text-shadow: 1px 1px rgba(255, 255, 255, 0.5);
}

header ul {
  list-style-type: none;
}

header ul li {
  display: inline-block;
  padding: 5px;
}

header ul li a {
  text-decoration: none;
  color: #fff;
  padding: 5px;
}

header ul li a:hover {
  text-decoration: underline;
  color: #fff;
}

.toggleBar {
  display: none;
  flex-direction: column;
}

@media all and (max-width: 600px) {
  .header {
    background-color: #333;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .header img {
    width: 80%;
  }
  .toggleBar {
    display: block;
  }
  .toggleBarItem {
    width: 25px;
    height: 3px;
    margin: 3px;
    background-color: rgb(255, 255, 255);
  }
  .header ul {
    display: none;
  }

  .head-title {
    font-size: 30px;
    display: flex;
    flex-wrap: nowrap;
  }
}
