* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
main {
  background-color: aliceblue;
  height: 90vh;
}

.container p {
  text-indent: 15px;
  padding: 5px;
  text-align: justify;
  margin-bottom: 10px;
}

.trendItems {
  color: rgb(2, 124, 213);
}

.trendItems a {
  padding: 9px;
  text-decoration: none;
  color: rgb(2, 124, 213);
}

.cardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.cardMain {
  margin: 10px;
  background-color: rgba(239, 234, 234, 0.222);
  height: 480px;
  width: 300px;
  border: 1px solid rgba(0, 0, 0, 0.171);
  overflow: none;
  position: relative;
}

.cardImg {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cardMain:hover {
  transition: all 300ms;
  box-shadow: 0px 0px 12px 5px rgba(128, 128, 128, 0.315);
}

.cardMain img {
  display: block;
  margin: 5px;
  padding: 10px;
  width: 200px;
  height: 230px;
}

.cardMain img:hover {
  width: 250px;
  height: 260px;
  transition: 0.9s;
}

.card-body {
  padding: 10px;
  color: rgba(0, 0, 0, 0.822);
  position: absolute;
  top: 260px;
}
.card-body h3 {
  font-size: 2rem;
}
.card-body p {
  text-indent: 15px;
  text-align: justify;
}
.small-imgs {
  border-radius: 15px;
  width: 290px;
  height: 190px;
  margin: 2px;
}
