* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.productMain {
  background-color: rgba(230, 19, 19, 0.418);
}

.productHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  margin-bottom: 5px;
  box-shadow: 8px 8px rgba(0, 0, 0, 0.02);
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 60px;
}
.search-product input {
  text-align: center;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.479);
  width: 350px;
  height: 40px;
}

.search-product input:active {
  border: 1px solid rgba(0, 0, 0, 0.479);
}

.productHeader ul {
  list-style-type: none;
}

.productHeader ul li {
  display: inline-block;
  margin-left: 5px;
}

.productHeader ul li a {
  display: inline-block;
  text-decoration: none;
  color: black;
  font-weight: bold;
  padding: 15px;
}
.productHeader ul li a:hover {
  text-decoration: underline;
  background-color: whitesmoke;
  color: red;
}

.cart {
  list-style-type: none;
}
.product-main {
  padding-top: 60px;
}

.productMain img {
  display: block;
  align-items: center;
  margin: auto;
  max-width: 100%;
}
.productMain h2 {
  margin-bottom: 10px;
  color: red;
}

.cartQty {
  display: inline-block;
  text-align: center;
  background-color: red;
  color: whitesmoke;
  width: 20px;
  height: auto;
  border-radius: 50%;
  position: relative;
  top: 16px;
  right: 10px;
}

/*Card Styling*/

.card-container {
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
}

.card-container > h1 {
  padding-bottom: 8px;
  width: 100%;
  height: 100%;
  background-color: rgba(235, 235, 232, 0.575);
  border: 1px solid rgba(0, 0, 0, 0.212);
  text-align: center;
  font-size: 2.5rem;
  color: green;
}

/*Product wise styling*/

.products-wise {
  padding-bottom: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.ProductCard {
  background-color: whitesmoke;
  margin: 10px;
  padding: 30px;
  width: 250px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.089);
  position: relative;
}
.ProductCard:hover {
  box-shadow: 0 0 15px 10px rgba(0, 0, 0, 0.189);
}

.card-body {
  position: absolute;
  bottom: 0;
}

.ProductCard img {
  display: block;
  top: -50px;
  width: 200px;
  height: auto;
  border-radius: 30px;
  transition: all 1s;
}

.ProductCard img:hover {
  width: 210px;
  height: auto;
  transition: 0.5s;
}

.card-body button {
  margin-top: 8px;
  padding: 10px;
  width: 230px;
  border: 1px solid;
  background-color: rgba(255, 166, 0, 0.616);
  font-weight: bold;
}

.card-body button:hover {
  background-color: rgba(255, 166, 0, 0.226);
  font-weight: bold;
}

.footer1 {
  background-color: rgba(0, 0, 0, 0.521);
  height: 50px;
  width: 100%;
  text-align: center;
}

.footer1 ul {
  list-style-type: none;
}

.footer1 ul li {
  display: inline-block;
  padding: 20px;
  color: whitesmoke;
  font-weight: bold;
}
